.footer {
    padding-top: 124px;
    padding-bottom: 33px;
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__company-a,
    &__menu-a,
    &__address,
    &__phone{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 27px;
        color: #E4E5EA;
    }
    &__phone{
        margin-bottom: 24px;
    }
    &__address{
        margin-top: 22px;
    }

    &__menu {
        &-block {
            display: flex;
        }
        &-right{
            margin-left: 50px;
        }

    }

    &__h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #656566;
        margin-bottom: 20px;
    }
    &__contacts{
        text-align: right;
    }
    &__viber,
    &__whatsapp{
        margin-left: 13px;
    }
    &__company-a:hover,
    &__menu-a:hover{
        color: #FE6368;
        transition: 0.3s;

    }
    &__bottom{
        padding-top: 33px;
        
    }
    &__rights{
        text-align: right;
    }
    &__right{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: right;
color: #E4E5EA;
    }
    &__politics{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: right;
text-decoration-line: underline;
color: #E4E5EA;
    }

}